@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 375px / 2);
        padding-right: calc(50% - 375px / 2);
    }
    .top {
        height: 735px;
        background-position-x: 31%;
    }
    .top__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .top__heading {
        text-align: center;
        font-size: 32px;
        padding-top: 238px;
        padding-bottom: 32px;
    }
    .top__text {
        width: 343px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 32px;
    }
    .top__button {
        margin-bottom: 238px;
    }
    .box__wrap {
        width: 343px;
    }
    .seasons {
        display: flex;
        justify-content: center;
    }
    .seasons__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .seasons__heading {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 51px;
    }
    .seasons__text {
        width: 343px;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
    }
    .seasons__button {
        margin-bottom: 64px;
    }
    .seasons__img {
        width: 344px;
        margin-bottom: 85px;
    }

}