* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 602px);
    padding-right: calc(50% - 602px);
}

.top {
    height: 1024px;
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.top__heading {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217px;
    padding-bottom: 32px;
}
.top__text {
    width: 481px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 44px;
}
.top__span {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.top__button {
    width: 234px;
    height: 48px;
    border-radius: 30px;
    background: #9C0332;
    font-family: inherit;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 493px;
    transition: background 0.4s;
}
.top__button:hover {
    border-radius: 30px;
    background: #EB443F;
    cursor: pointer;
}

.main {
    background: #000915;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
}
.box__wrap {
    position: relative;
    width: 378px;
    transition: all 0.3s;
}
.box__wrap:hover {
    border-radius: 16px;
    border: 3px solid #44D2FF;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), lightgray 50% / cover no-repeat;
}
.box__text {
    position: absolute;
    bottom: 32px;
    left: 32px;
    font-size: 18px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    }
.box__img {
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), lightgray 50% / cover no-repeat;
}
.seasons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 135px;
}
.seasons__wrap {
    /* width: 584px; */
}
.seasons__heading {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 282px;
    padding-bottom: 32px;
}
.seasons__text {
    width: 584px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}
.seasons__button {
    width: 234px;
    height: 48px;
    border-radius: 30px;
    background: #9C0332;
    font-family: inherit;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 282px;
    transition: background 0.4s;
}
.seasons__button:hover {
    border-radius: 30px;
    background: #EB443F;
    cursor: pointer;
}
.seasons__img {
    width: 485px;
}